<div class="box">
    <div class="c margen">
        <div class="box">
            <div class="c">
                <h1>FILLER LINKS</h1>
                <div class="barras margen5">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
            </div>
            <div class="c">
                <h1>MORE FILLER</h1>
                <div class="barras margen5">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>

                <div class="mg">
                    <h3 class="bold">EVEN MORE FILLIER</h3>
                </div>
                <div class="barras margen5">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
                <div class="barras">
                    <p>Quam turpis feugiat dolor</p>
                </div>
            </div>
        </div>
    </div>
    <div class="c margen">
        <h1 class="bold">ZEROFOUR BY HTML UP</h1>
        <p>
            Hi! This is ZeroFour, a free fully responsive HTML5 site template by AI
            for HTML5 <br />
            UP. It's Create Commons Atrribution licensed so use it for any personal or
            <br />
            comercial proyect (just creadit us for the design).
        </p>
        <button class="btn btn-negro">
            <span class="opacity">
                <fa-icon [icon]="faPaw"></fa-icon>
            </span>
            CONTINUE READING
        </button>
        <h1 class="margen5">GET IN TOUCH</h1>
        <div class="box">
            <div class="c">
                <div class="box">
                    <div class="c">
                        <h3 class="bold">TWITTER</h3>

                    </div>
                    <div class="c text-left">
                        <p>
                            @untitled-corp
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="c">
                        <h3 class="bold">FACEBOOK</h3>

                    </div>
                    <div class="c text-left">
                        <p>
                            facebook.com/untitled
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="c">
                        <h3 class="bold">www</h3>

                    </div>
                    <div class="c text-left">
                        <p>
                            untitled-tld
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="c">
                        <h3 class="bold">EMAIL</h3>

                    </div>
                    <div class="c text-left">
                        <p>
                            user@untitled-tld
                        </p>
                    </div>
                </div>
            </div>
            <div class="c">
                <div class="box">
                    <div class="c text-center">
                        <h3>ADRESS</h3>
                    </div>
                    <div class="c text-left">
                        <p>1234 Fictional Rd <br>
                            Nashville, TN 00000-00<br>
                            Usa
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="c text-center">
                        <h3>PHONE</h3>
                    </div>
                    <div class="c text-left">
                        <p>(000)000-0000</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
