<div class="box">
    <div class="c">
        <div class="imagen">
            <img src="../../assets/helpme.png" class="size" />
            <div class="content">
                <div class="c centrado">
                    <div class="row">
                        <div class="col">
                            <a href="https://github.com/dlowTux/helpmestore">
                                <img width="64px" height="64px" src="../../assets/github.png">

                            </a>

                        </div>
                        <div class="col">
                            <a href="https://helpemestore.herokuapp.com/">
                                <img width="64px" height="64px" src="../../assets/demo.png">

                            </a>
                        </div>
                    </div>

                </div>
                <div class="c centrado">
                    <h1 class="titulo">HelpMe</h1>
                    <h5 class="subtitulo">An online store</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="c">
        <div class="imagen">
            <img src="../../assets/imagen2.jpg" class="size" />
            <div class="content">
                <div class="c centrado ">
                    <h1 class="icono">
                        <fa-icon [icon]="faMeh"></fa-icon>
                    </h1>
                </div>
                <div class="c centrado">
                    <h1 class="titulo">ALSO A HEADING</h1>
                    <h5 class="subtitulo">AND A ANOTHER SUBTITLE</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="c">
        <div class="imagen">
            <img src="../../assets/imagen3.jpg" class="size" />
            <div class="content">
                <div class="c centrado ">
                    <h1 class="icono">
                        <fa-icon [icon]="faOm"></fa-icon>
                    </h1>
                </div>
                <div class="c centrado">
                    <h1 class="titulo">ANOTHER HEADING</h1>
                    <h5 class="subtitulo">AND YES, A SUBTITLE</h5>
                </div>
            </div>
        </div>
    </div>



</div>
