<div class="box">
    <div class="c">
        <div class="imagen">
            <img src="../../assets/imagen1.jpg" class="size" />
            <div class="content">
                <div class="c centrado">
                    <h1 class="icono">
                        <fa-icon [icon]="faAt"></fa-icon>
                    </h1>
                </div>
                <div class="c centrado">
                    <h1 class="titulo">HERE'S A HEADING</h1>
                    <h5 class="subtitulo">AND A SUBTITLE</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="c">
        <div class="imagen">
            <img src="../../assets/imagen2.jpg" class="size" />
            <div class="content">
                <div class="c centrado ">
                    <h1 class="icono">
                        <fa-icon [icon]="faMeh"></fa-icon>
                    </h1>
                </div>
                <div class="c centrado">
                    <h1 class="titulo">ALSO A HEADING</h1>
                    <h5 class="subtitulo">AND A ANOTHER SUBTITLE</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="c">
        <div class="imagen">
            <img src="../../assets/imagen3.jpg" class="size" />
            <div class="content">
                <div class="c centrado ">
                    <h1 class="icono">
                        <fa-icon [icon]="faOm"></fa-icon>
                    </h1>
                </div>
                <div class="c centrado">
                    <h1 class="titulo">ANOTHER HEADING</h1>
                    <h5 class="subtitulo">AND YES, A SUBTITLE</h5>
                </div>
            </div>
        </div>
    </div>
</div>
