<div class="box">
    <div class="column grande">
        <h1 class="bold title">
            <span class="opacity">
                <fa-icon [icon]="faDna"></fa-icon>
            </span>
            RECENT POST
        </h1>
        <div class="filas">
            <div class="c">
                <div class="box">
                    <div class="card">
                        <img src="../../assets/pexels-photo-6929031.jpeg" class="imagen" />
                    </div>
                    <div class="card ">
                        <h5 class="fecha">
                            JULY 24
                        </h5>
                        <h3 class="bold">REPAIRING A HYPERSPACE WINDOW</h3>
                        <p>
                            Sit sit repellendus atque at mollitia Nesciunt dolor reprehenderit
                            ducimus saepe possimus Harum harum voluptate tenetur totam<br />
                            eligendi Est doloremque maiores minus quod culpa Rem mollitia
                            consequatur tempora temporibus illum
                        </p>

                    </div>
                </div>
            </div>
            <div class="barras"></div>

            <!-- segunda -->
            <div class="c">
                <div class="box">
                    <div class="card">
                        <img src="../../assets/imagen1.jpg" class="imagen" />
                    </div>
                    <div class="card ">
                        <h5 class="fecha">
                            JULY 18
                        </h5>
                        <h3 class="bold">ADVENTURING WITH A KNEE INJURY</h3>
                        <p>
                            Sit sit repellendus atque at mollitia Nesciunt dolor reprehenderit
                            ducimus saepe possimus Harum harum voluptate tenetur totam<br />
                            eligendi Est doloremque maiores minus quod culpa Rem mollitia
                            consequatur tempora temporibus illum
                        </p>
                    </div>
                </div>
            </div>
            <div class="barras"></div>
            <div class="c">
                <div class="box">
                    <div class="card">
                        <img src="../../assets/pexels-photo-5053734.jpeg" class="imagen" />
                    </div>
                    <div class="card">
                        <h5 class="fecha">
                            JULY 14
                        </h5>
                        <h3 class="bold">PREPARING FOR Y2K38</h3>
                        <p>
                            Sit sit repellendus atque at mollitia Nesciunt dolor reprehenderit
                            ducimus saepe possimus Harum harum voluptate tenetur totam<br />
                            eligendi Est doloremque maiores minus quod culpa Rem mollitia
                            consequatur tempora temporibus illum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column peque">
        <h1 class="bold title">
            <span class="opacity">
                <fa-icon [icon]="faDna"></fa-icon>
            </span>
            SPOTLIGHT
        </h1>
        <img src="../../assets/imagen2.jpg" class="portada" />

        <h3 class="mt-5 bold">NEURAL IMPLANTS</h3>
        <p>THE PROS AND CONS, MOSTLY CONS.</p>
        <p class="mt-5">
            Elit beatae lorem fuga sit mollitia maiores. Quaerat deserunt id iusto
            architecto quod Molestias ea consequatur perspiciatis cum odio placeat.
            Excepturi dolorum aliquam numquam nemo laboriosam, ipsam! Eveniet neque
            nesciunt Lorem fugiat ratione nemo similique ullam placeat? Commodi
            aliquid
        </p>
        <br>
        <p>
            Sit sequi magnam asperiores quasi aut nobis. Deserunt dolorum aut esse sint repellat facere reprehenderit.
            Voluptatem laudantium voluptatum facilis provident vero accusamus Commodi non totam quo necessitatibus unde?
            Laboriosam impedit

        </p>
        <div class="centrado">
            <button class="btn btn-negro ">
                <span class="opacity">
                    <fa-icon [icon]="faDna"></fa-icon>
                </span>
                CONTINUE READING
            </button>

        </div>
    </div>
</div>
