<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Zerofour</title>
    <link href="app.component.css" rel="stylesheet" />
</head>

<body class="fondo">
    <div class="margen">
        <nav class="nav-main">
            <!-- Brand -->
            <h2 class="nav-brand">Zerofour</h2>
            <!-- Left Nav -->
            <div class="left">
                <ul class="nav-menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">DROPDOWN</a>
                    </li>
                    <li>
                        <a href="#">LEFT SIDEBAR</a>
                    </li>
                    <li>
                        <a href="#">RIGHT SIDEBAR</a>
                    </li>
                    <li>
                        <a href="#">NO SIDEBAR</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">
        <hr />
        <hr />
        <h1 class="titulo">ZEROFOUR: A FREE RESPONSIVE SITE TEMPLATE</h1>
        <h1 class="titulo">BUILT ON HTML5 AND CSS3 BY HTML5 UP</h1>
        <hr />
        <hr />
        <div class="wrapper">
            <div class="one">
                <h1 class="subtitulo">DOES THIS STATEMENT MAKE YOU WANT TO</h1>
                <h1 class="subtitulo espacio">CLIK THE BIG SHINY BUTTON?</h1>
            </div>
            <div class="two">
                <button class="btn boton-azul margen-derecha">
                    <span>
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </span>
                    YES IT DOES
                </button>
            </div>
        </div>
    </div>
</body>

</html>
<router-outlet></router-outlet>
