<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Zerofour</title>
</head>

<body>
    <section id="Head" class="cuadro fondo">
        <br />
        <br />
        <div class="margen">
            <app-navbard></app-navbard>
        </div>
        <div class="contenido">
            <div class="mg">
                <app-message></app-message>
            </div>
            <div class="ms box">
                <div class="column">
                    <p class="text-right text-white subtitulo">
                        DOES THIS STATEMENT MAKE YOU WANT TO <br />
                        CLICK THE BIG SHINY BUTTON?
                    </p>
                </div>
                <div class="column">
                    <div class="mt">
                        <app-button></app-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cuadro fondo-crema">
        <div class="contenedor">
            <h1 class="titulo text-center gris">
                <br />
                THIS IS AN IMPORTANT HEADING
            </h1>
            <br>
            <p class="texto-sm text-center gris2">
                AND THIS WHERE WE TALK ABOUT WHY WE'RE
                <span class="bold"> PRETTY AWESOME...</span>
            </p>
        </div>
    </section>
</body>

</html>
<router-outlet></router-outlet>
