<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Zerofour</title>
</head>

<body>
    <section id="Head" class="cuadro fondo">
        <br />
        <br />
        <div class="margen">
            <app-navbard></app-navbard>
        </div>
        <div class="content mt5">
            <app-message></app-message>
            <div class="wrapper">
                <div class="one">
                    <h1 class="subtitulo">DOES THIS STATEMENT MAKE YOU WANT TO</h1>
                    <h1 class="subtitulo espacio">CLIK THE BIG SHINY BUTTON?</h1>
                </div>
                <div class="two">
                    <button class="btn boton-azul margen-derecha">
                        <span>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </span>
                        YES IT DOES
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="cuadro gris">
        <div class="content">
            <div class="barras">
                <h1 class="title">THIS IS AN IMPORTANT HEADING</h1>
                <label class="small-text opacity">AND THIS IS WHERE WE TALK ABOUT WHY WE'RE
                </label>
                <span class="bold "> PRETY AWESOME</span>

            </div>

            <app-card></app-card>
            <div class="box">
                <div class="c1">
                    <div class="box">
                        <div class="c1">

                            <fa-icon [icon]="faUser" class="icon"></fa-icon>
                        </div>
                        <div class="c1">
                            <div class="alig">
                                <h1 class="negritas">HERE'S A HEADING</h1>
                                <h5>AND A SUBTITLE</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c1">
                    <div class="box">
                        <div class="c1">
                            <fa-icon [icon]="faMeh" class="icon"></fa-icon>

                        </div>
                        <div class="c1">
                            <div class="alig">
                                <h1 class="negritas">HERE'S A HEADING</h1>
                                <h5>AND A SUBTITLE</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c1">
                    <div class="box">
                        <div class="c1">
                            <fa-icon [icon]="faOm" class="icon"></fa-icon>

                        </div>
                        <div class="c1">
                            <div class="alig">
                                <h1 class="negritas">HERE'S A HEADING</h1>
                                <h5>AND A SUBTITLE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="parrafo">
                Sit ipsum voluptate doloribus at voluptas illum corporis fugiat? Culpa necessitatibus aut unde sequi
                beatae Placeat voluptate asperiores ea fugiat eligendi Fugit consectetur unde qui fuga perspiciatis
                Mollitia exercitationem nisi.
            </p>

        </div>
    </section>
    <section class="cuadro">
        <div class="content">
            <div class="box">
                <div class="c1">
                    <div class="barras seperacion">
                        <h1 class="title1">AND THIS IS A SUBHEADING</h1>
                        <h5>IT'S IMPORTANT BUT CLEARLY NOT *THAT* IMPORTANT</h5>
                    </div>

                    <p class="parrafo">
                        Amet harum corrupti porro veniam at Deleniti mollitia eos aperiam amet facere dolorem! Molestias
                        <br>ratione aliquam officia libero possimus dolores facilis.<br> Eaque at consectetur dolorum
                        repellendus at consequuntur, voluptatum Minima?
                    </p>
                    <button class="btn boton-azul center">
                        <span>
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </span>
                        LET'S DO THIS
                    </button>
                </div>
                <div class="c1">
                    <div class="barras">
                        <h1 class="title1">AND THIS IS A SUBHEADING</h1>
                        <h5>IT'S IMPORTANT BUT CLEARLY NOT *THAT* IMPORTANT</h5>
                    </div>
                    <p class="parrafo">
                        Amet harum corrupti porro veniam at Deleniti mollitia eos aperiam amet facere dolorem! Molestias
                        <br>ratione aliquam officia libero possimus dolores facilis.<br> Eaque at consectetur dolorum
                        repellendus at consequuntur, voluptatum Minima?
                    </p>
                    <button class="btn boton-negro center">
                        <span>
                            <fa-icon [icon]="faAt"></fa-icon>
                        </span>
                        WAIT, WHAT?
                    </button>
                </div>
            </div>

        </div>
    </section>
</body>

</html>
<router-outlet></router-outlet>
