@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0%;
  margin: 0%;
}

.cuadro {
  width: 100%;
  height: 100vh;
}
.fondo {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563);
}

.margen {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: solid #6d7473 10px;
  border-radius: 10px;
}
.contenido {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.mg {
  margin-top: 15%;
}
.ms {
  margin-top: 60px;
}
.box {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 50%;
}
.text-right {
  text-align: right;
  margin-right: 30px;
}
.subtitulo {
  font-size: 25px;
  font-weight: bold;
}
.text-white {
  color: white;
}
.fondo-crema {
  background: #f8f3f3;
}
.contenedor {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  font-size: 3em;
  font-weight: bold;
}
.text-center{
    text-align: center;
}
.mt-3{
    margin-top: 20px;
}
.gris{
    color: #404248;
}
.text-sm{
    font-size: 10px;
}
.gris2{
    color: #696969;
}
.bold{
    color: black;
    font-weight: bold;
}
@media (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .column {
    flex: 1;
  }

  .ms {
    margin-top: 30px;
  }
  .subtitulo {
    font-size: 20px;
    font-weight: bold;
  }

  .mt {
    margin-top: 30px;
  }
}
