<nav class="nav-main">
    <!-- Brand -->
    <h2 class="nav-brand">Zerofour</h2>
    <!-- Left Nav -->
    <div class="left">
        <ul class="nav-menu">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#">DROPDOWN</a>
            </li>
            <li>
                <a href="#">LEFT SIDEBAR</a>
            </li>
            <li>
                <a href="#">RIGHT SIDEBAR</a>
            </li>
            <li>
                <a href="#">NO SIDEBAR</a>
            </li>
        </ul>
    </div>
</nav>
