<nav class="navbar">
    <div class="brand-title">
        Omar
    </div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li>
                <a href="">Home</a>

            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">Portfolio</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</nav>
