.box {
  display: flex;
  flex-direction: row;
}
.column {
  flex: auto;
}
.texto-centrado{
    text-align: center;
}
.barras{
    width: 80%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px double grey;
}
.titulo {
  font-size: 3em;
  font-weight: bold;
}
.mg {
  margin-top: 10%;
}
.ms {
  margin-top: 60px;
}
.contenido {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.opacity {
  opacity: 0.3;
}
.btn {
  width: 60%;
  height: 80px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
   margin-left: auto;
  margin-right: auto; 
  margin-top: 60px;
}
.centrado{
 display: flex; 
}
.btn-azul {
  background: #3880a9;
  color: white;
}
.btn-negro {
  background: #3f4249;
  color: white;
}

@media (max-width: 768px) {

    .box {
    display: flex;
    flex-direction: column;
  }
  .column {
    flex: 1;
  }
  .acomodar-texto{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  .btn{
      margin-top: 30px;
  }
  .mg{
  margin-top: 5%;

  }
}
