<div class="box mg ">
    <div class="column">
        <h3 class="titulo texto-centrado">AND THIS A SUBHEAD</h3>
        <div class="acomodar-texto">
            <p class="texto-centrado">
                <br />
                IT'S IMPORTANT BUT CLEARLY NOT *THAT* IMPORTANT
            </p>
        </div>

        <div class="barras ms"></div>
        <div class="contenido">
            <p class="mg texto-centrado">
                Elit quam consectetur nostrum adipisci culpa. Officiis minima
                voluptatem alias explicabo eaque. Vero dignissimos aspernatur
                qui dolor debitis cum Earum inventore modi nesciunt ab ut
                dolorem debitis nulla Inventore dolore!
            </p>
            <div class="centrado">
                <button class="btn btn-azul ">
                    <span class="opacity">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </span>
                    LET'S DO THIS
                </button>

            </div>
        </div>
    </div>
    <div class="column">
        <h3 class="titulo texto-centrado">AND THIS A SUBHEAD</h3>
        <p class="texto-centrado">
            <br />
            AND IS AS UNIMPORTANT AS THE OTHER ONE
        </p>
        <div class="barras ms"></div>
        <div class="contenido">
            <p class="mg texto-centrado">
                Elit quam consectetur nostrum adipisci culpa. Officiis minima
                voluptatem alias explicabo eaque. Vero dignissimos aspernatur
                qui dolor debitis cum Earum inventore modi nesciunt ab ut
                dolorem debitis nulla Inventore dolore!
            </p>
            <div class="centrado">
                <button class="btn btn-negro">
                    <span class="opacity">
                        <fa-icon [icon]="faBug"></fa-icon>
                    </span>
                    WAIT , WHAT?
                </button>

            </div>
        </div>
    </div>
</div>
