<div class="box mg ">
    <div class="row">
        <div class="col">
            <h3 class="titulo texto-centrado">SKILLS</h3>
            <div class="contenido">

                <div class="mg ">
                    <div class="container size-list">

                        <ul class="">
                            <li class="">Intermediate English</li>
                            <li class="">Object-oriented programming skills</li>
                            <li class="">Using Linux since 2016</li>
                            <li class="">Critical thinking, decision-making and problem solving skills
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="barras ms"></div>
            <div class="contenido">


                <div class="centrado">
                    <button class="btn btn-azul ">
                        <span class="opacity">
                            <fa-icon [icon]="faDownload"></fa-icon>
                        </span>
                        Download Resume (CV)
                    </button>

                </div>
            </div>
        </div>
        <div class="col">
            <h3 class="titulo texto-centrado mtt">Lenguages</h3>
            <p class="texto-centrado size-list">
                <br />
                Technologies that I've used before
            </p>
            <br>


            <div class="contenido ">
                <div class="row">
                    <div class="col" *ngFor="let item of lenguages">
                        <img src="../../assets/{{item}}.png" class="image-size">
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
